* {
    margin: 0;
    padding: 0
}

body {
    background: #1C1C1C;
    color: #fff;
    font-family: monospace;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 768px;
    text-align: center;
}

.search {
    &__box {
        border-width: 0;
        height: 45px;
        padding-left: 2%;
        width: 98%;
    }
    &__empty {
        margin-top: 20px;
    }
}

.text-foot {
    display: inline-block;
    margin: 20px;
}