$purple: #62bcb0;

ul {
    background: #232222;
    font-size: 25px;
    margin-bottom: 50px;
    li {
        color: $purple;
        cursor: default;
        padding: 10px;
        text-align: left;
        word-break: break-word;
        a {
            color: $purple;
            text-decoration: none;
        }
    }

     li::after {
         content: '';
         display: block;
         width: 0;
         height: 2px;
         background: $purple;
         transition: width .5s;
         margin-top: 5px;
     }

     li:hover::after {
         width: 85%;
     }
}